@using web1.Models;
@model Product

<!-- TODO: Make add to cart asynchronous -->

@Model.Name
<p>
    @Model.Description
</p>
<p>
    Price: @(Model.PurchasePrice * 2.5M)<br />
    Stock: @Model.Stock<br />
    <a href="../Cart/Add?id=@Model.ProductId">Add to cart</a><br />
    <a href="../Product">Back</a>
</p>