@using web1.Models;
@model Product

<!-- TODO: Make add to cart asynchronous -->

<b>@Model.Name</b>
<p>
    @Model.Description
</p>
<p>
    <b>Price:</b> @(Model.PurchasePrice * 2.5M)<br />
    <b>Stock:</b> @Model.Stock<br />
</p>
<p>
    <a href="../Cart/Add?id=@Model.ProductId">Add to cart</a><br />
    <a href="../Product">Back</a>
</p>